header{
    background-color: darkblue;
    color:white;
    padding:5px;
    text-align: center;
}
nav{
    background-color: black;
    padding: 15px;
    text-align: center;
}
nav a {
    display: inline;
    color: white;
    margin: 5px;
    text-decoration: none;
}
section{
    padding: 20px;
    border: 10px salmon;
    margin: 10px;
}
footer{
    background-color: darkblue;
    color: white;
    padding: 10px;
}
.main{
    color: aqua;
}
#info{
    color: chartreuse;
    padding: 10px;
}
.container{
    color: aqua;
    background-color: plum;
    padding:10px;
    display:flex;
    justify-content: space-evenly;
    gap: 20px;

}
.card {
    background-color:black;
    padding: 20px;
    width: 150px;
    text-align: center;
    border-radius: 8px;
}
@media (max-width:768px){
    .main{
        flex-direction: column;
        text-align: center;
    }
    nav{
        margin-top: 10px;
    }
    .container{
        flex-direction: column;
        text-align: center;

    }
}
.clone-box {
    display:flex;
    align-items: center;
    gap: 30px;
}
.clone {
    padding: 40px;
}
.grid-section {
    padding: 40px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.grid-item {
    background-color: #eee;
    padding: 20px;
    border-radius: 8px;
}
